<!DOCTYPE html>
<html>
<head><title>ADMIN LOGIN</title></head>

<body>
    <form>
        <h1><strong>ADMIN LOGIN</strong></h1>
        <p>
        <label>Email:
            <input type="email" name="emailbox" placeholder="EMAIL" required>
        </label>
        <br>
        <br>
        <label>Password:
            <input type="password" name="password" placeholder="PASSWORD" required>
        </label>
        </p>
        <br>
        <input type="submit" name="submitbutton" placeholder="SUBMIT">
        <br>
    </form>
</body>

</html>
