<!DOCTYPE html>
<html>
<head><title>Tables</title></head>

<body>
    <h1>WELCOME TO THE SURVEY</h1>

    <form>
        <p>
        <label>Email:
            <input type="email" name="emailbox" placeholder="EMAIL" required>
        </label>
        <br>
        <br>
        <label>Password:
            <input type="password" name="password" placeholder="PASSWORD" required>
        </label>
        </p>
        <br>
        
        <input type="submit" name="submitbutton" placeholder="SUBMIT">
        <br>
        <p><strong>Which is your favourite animal?</strong></p>
        
        <p>
        <input type="radio" name="animal" id="animal" value="dog" required>
         <input type="radio" name="animal" id="animal" value="cat" required>
          <input type="radio" name="animal" id="animal" value="mouse" required>
           <input type="submit" name="submit">
     </p>
    </form>
</body>


</html>
