<!DOCTYPE html>
<html>

<head><title>USER ONBOARDING</title></head>

<body>
    <form>
        <h1><strong>USER DETAILS</strong></h1>

        <p>
        <label for="name">Name:</label>
        <input type="text" name="name" placeholder="FULL NAME" required>

        <label>Email:
            <input type="email" name="emailbox" placeholder="EMAIL" required>
        </label>

        <br>
        <br>

        <label>UserIDnumber:
            <input type="number" name="number" placeholder="USERID" required>
        </label>
        </p>

        <br>
        <button type="button" onclick="func">SUBMIT</button>
        <br>
        <script>

        </script>
    </form>
</body>

</html>

